In [266]:
import numpy as np
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [267]:
executable_path = {'executable_path': 'C:/Users/leeda/Desktop/WebScrapingHW/chromedriver'}
browser = Browser('chrome', **executable_path)

In [268]:
url = 'https://mars.nasa.gov/news'
browser.visit(url)
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [269]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
elements = soup.select_one('ul.item_list li.slide')

elements.find('div', class_ = 'content_title').get_text()

"Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover"

In [252]:
newstitle = "Virginia Middle School Student Earns Honor of Naming Nasa's Next Mars Rover"
newsparagraph = "NASA chose a seventh-grader from Virgina as winner of the agency's Name the Rover contest"
newsparagraph

"NASA chose a seventh-grader from Virgina as winner of the agency's Name the Rover contest"

In [253]:
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [254]:
image = browser.find_by_id('full_image')
image.click()

In [255]:
browser.is_element_present_by_text('more info', wait_time = 1)
information = browser.find_link_by_partial_text('more info')
information.click()

In [256]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [257]:
imgurl = soup.select_one('figure.lede a img').get('src')
imgurl

'/spaceimages/images/largesize/PIA20057_hires.jpg'

In [258]:
finalurl = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14925_hires.jpg'

In [259]:

##SKIP THE TWITTER PART

In [260]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [261]:
img_url = []

links = browser.find_by_css("a.product-item h3")

for i in range(len(links)):
    #url items
    items = {}
    browser.find_by_css("a.product-item h3")[i].click()
    
    #url from what you clicked
    sample_elem = browser.find_link_by_text('Sample').first
    items['img_url'] = sample_elem['href']
    items['title'] = browser.find_by_css("h2.title").text
    
    #append
    img_url.append(items)
    browser.back()

In [262]:
img_url
#FINALLY

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [263]:
df = pd.read_html('https://space-facts.com/mars/')[0]
df.columns = ['description', 'value']
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [264]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'